<h1 fxLayoutAlign="center">Liste des pokémons</h1>

<!--<div fxLayout="column wrap">-->
<!--    <input #inputNumber (keyup.enter)="selectPokemon(inputNumber.value)" type="number" min="1" max="12">-->
<!--    <p *ngIf="pokemonSelected ; else noPokemmonSelected">Vous avez sélectionné le pokemon :  {{pokemonSelected.name}}</p>-->
<!--    <ng-template #noPokemmonSelected>-->
<!--        <p>Aucun pokémon n'a été trouvé (1 à 12).</p>-->
<!--    </ng-template>-->
<!--</div>-->
<section fxLayoutAlign="center">
    <button mat-raised-button color="primary" routerLink="/pokemon/add" title="Ajouter un pokémon.">Ajouter</button>
</section>

<div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="center">
    <mat-card fxFlex="350px" class="pokemon-card" *ngFor="let pokemon of pokemonList" pokemonBorderCard (click)="goToPokemonDetail(pokemon)">
        <mat-card-header>
            <mat-card-title-group>
                <mat-card-title>{{pokemon.name | titlecase}}</mat-card-title>
                <mat-card-subtitle>
                    <mat-chip-listbox>
                        <mat-chip *ngFor="let pokeType of pokemon.types" [ngStyle]="{'background-color': pokeType|pokemonTypeColor}">
                            {{ pokeType | titlecase }}
                        </mat-chip>
                    </mat-chip-listbox>
                </mat-card-subtitle>
                <img mat-card-lg-image src="{{pokemon.picture}}">
            </mat-card-title-group>
        </mat-card-header>
    </mat-card>
</div>