<form *ngIf="pokemon" (ngSubmit)="onSubmit()" #pokemonForm="ngForm">
    <mat-card>
        <mat-card-content fxLayout="column">
            <!-- Pokemon name -->
            <mat-form-field hintLabel="Max 25 charactères">
                <mat-label>Nom</mat-label>
                <input
                        required
                        pattern="^[a-zA-Z0-9àéèç]{1,25}$"
                        matInput
                        name="name"
                        #name="ngModel"
                        maxlength="25"
                        placeholder="Nom du pokémon"
                        [(ngModel)]="pokemon.name"
                >
                <mat-hint align="end">{{name.value.length}}/25</mat-hint>
                <mat-error *ngIf="name.invalid">Le nom du pokémon est requis (1-25).</mat-error>
            </mat-form-field>

            <!-- Pokemon name -->
            <mat-form-field *ngIf="isAddForm">
                <mat-label>Image</mat-label>
                <input
                        type="url"
                        required
                        matInput
                        name="picture"
                        #picture="ngModel"
                        placeholder="Image du pokémon"
                        [(ngModel)]="pokemon.picture"
                >
                <mat-error *ngIf="picture.invalid">L'image du pokémon est requise.</mat-error>
            </mat-form-field>

            <!-- Pokemon hp -->
            <mat-form-field>
                <mat-label>Point de vie</mat-label>
                <input
                        required
                        pattern="^[0-9]{1,3}$"
                        type="number"
                        matInput
                        name="hp"
                        #hp="ngModel"
                        min="0"
                        max="999"
                        placeholder="Point de vie"
                        [(ngModel)]="pokemon.hp"
                >
                <mat-error *ngIf="hp.invalid">Les points de vie du pokémon sont compris entre 0 et 999.</mat-error>
            </mat-form-field>

            <!-- Pokemon cp -->
            <mat-form-field>
                <mat-label>Dégâts</mat-label>
                <input
                        required
                        pattern="^[0-9]{1,2}$"
                        type="number"
                        matInput
                        name="cp"
                        #cp="ngModel"
                        min="0"
                        max="99"
                        placeholder="Dégâts"
                        [(ngModel)]="pokemon.cp"
                >
                <mat-error *ngIf="cp.invalid">Les dégâts du pokémon sont compris entre 0 et 99.</mat-error>
            </mat-form-field>

            <!-- Pokemon types -->
            <div>
                <label>Types</label>
                <p *ngFor="let pokeType of pokemonTypeList">
                    <mat-checkbox
                            id="{{ pokeType }}"
                            [checked]="hasType(pokeType)"
                            [value]="pokeType"
                            [disabled]="!isTypesValid(pokeType)"
                            (change)="selectType($event.checked, pokeType)"
                    >
                        <mat-chip
                                style="background-color: {{ pokeType| pokemonTypeColor}}"
                                [disabled]="!isTypesValid(pokeType)"
                        >
                            {{pokeType}}
                        </mat-chip>
                    </mat-checkbox>
                </p>
            </div>

            <!-- Submit button -->
            <div class="divider"></div>
            <div class="section center">
                <button
                        type="submit"
                        mat-raised-button
                        color="primary"
                        [disabled]="!pokemonForm.form.valid">
                    Valider
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</form>
<h3 *ngIf="!pokemon">Aucun pokémon à éditer...</h3>

